<!--
    - What would happen if you don’t enter in a category name on the add category form?
        It prompts user to not lieve field empty and write a name 
    - What happens when you try to add a category that already exists?
        A message appears and informs user that this category name alfready exists
-->

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a Category
{% endblock %}

{% block body_block %}
<h1>Add a Category</h1>

{% if user.is_authenticated %}
<form id="category_form" method="post" action="/rango/add_category/">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field }}
    {% endfor %}
    <input type="submit" name="submit" value="Create Category" />
</form>
{% endif %}

{% endblock %}